@import "tailwindcss";
@import "tailwindcss/utilities";

/* Custom pin-container class $*/

.pin-container {
  width:1400px;
  margin: 10px auto;
  column-gap: 20px;
}

@media (max-width: 1200px) {
    .pin-container
    {
        width: calc(100%-40px);
        columns: 3;
    }
}

@media (max-width: 748px) {
    .pin-container
    {
        columns: 2;
    }
}

@media (max-width: 480px) {
    .pin-container
    {
        columns: 1;
    }
}


